<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" xmlns="http://www.w3.org/1999/html">
  <a class="navbar-brand" href="#">Employee Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Employee</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input type="text" name="sear" ngModel (ngModelChange)="searchEmployeeByKey($event)" placeholder="Search" aria-label="Search" class="form-control mr-sm-2">
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    </form>
  </div>
</nav>
<div class="container" id="main-container" style="margin-top: 5px;">
  <div class="row">
    <div class="col col-lg-4" *ngFor="let employee of employees" style="padding: 10px 10px">
      <div class="card">
        <img class="card-img-top" src="{{employee.imageUrl}}" alt="Milestone Admin" class="profile">
        <div class="card-body">
          <h5>{{employee.name}}</h5>
          <p>{{employee.jobTitle}}</p>
          <ul class="contacts">
            <li>
              <a href="#">
                {{employee.email}}
              </a>
            </li>
            <li>
              <a href="#">
                {{employee.phone}}
              </a>
            </li>
          </ul>
<!--          <div class="clearfix">-->
<!--            <span class="badge badge-pill badge-info">#HTML5</span>-->
<!--            <span class="badge badge-pill badge-success">#CSS3</span>-->
<!--            <span class="badge badge-pill badge-orange">#Angular JS</span>-->
<!--          </div>-->
        </div>
        <div class="card-body ml-auto">
          <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
          <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i> </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Add Employee Modal-->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" ngModel id="name" name="name" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" ngModel id="email" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <input type="text" class="form-control" ngModel id="jobTitle" name="jobTitle" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" ngModel id="phone" name="phone" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="imageUrl">Image Url</label>
            <input type="url" class="form-control" ngModel id="imageUrl" name="imageUrl" placeholder="Email">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="add-employee-cancel">Close</button>
          <button type="submit" [disabled]="addForm.invalid" class="btn btn-primary">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Delete Employee Modal-->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want delete this employee? After deleting, you cannot restore this data.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="delete-cancel">Close</button>
        <button type="button" (click)="onDeleteEmployee(mEmployee?.id)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<!--Edit Employee Modal-->
<div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #editForm="ngForm" >
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control"  name="name" placeholder="Name" ngModel="{{mEmployee?.name}}">
        </div>
        <input type="hidden" name="id" id="id" ngModel="{{mEmployee?.id}}">
        <input type="hidden" name="employeeCode" id="employeeCode" ngModel="{{mEmployee?.employeeCode}}">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" ngModel="{{mEmployee?.email}}">
        </div>
        <div class="form-group">
          <label for="jobTitle">Job Title</label>
          <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Job Title" ngModel="{{mEmployee?.jobTitle}}">
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" ngModel="{{mEmployee?.phone}}">
        </div>
        <div class="form-group">
          <label for="imageUrl">Image Url</label>
          <input type="url" class="form-control" id="imageUrl" name="imageUrl" placeholder="Image Url" ngModel="{{mEmployee?.imageUrl}}">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="edit-cancel">Close</button>
        <button type="button" (click)="onUpdateEmployee(editForm.value)" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="employees?.length === 0" class="col-lg-12 col-md-12 col-sm-12">
  <div class="alert alert-info" role="alert">
    <h3>NO EMPLOYEE!</h3>
    <p>There is no employee found.</p>
  </div>
</div>


